# This udev rule creates a Link to the /dev/input/nevis_ir this is needed for the libstb-hal 
# to work correctly 
KERNELS=="input*", SUBSYSTEMS=="input", ATTRS{name}=="lircd", SYMLINK+="input/nevis_ir"
# This udev rule creates a Link to /dev/lirc
KERNEL=="lirc[0-9]*", SYMLINK+="lirc"
